.App {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
}

.App > div {
  margin: 30px;
}

.todo{
  border: 2px grey;
  background-color: antiquewhite;
  border-radius: 5px;
  padding: 15px;
}

.task{
  font-weight: bold;
}

.task_not_is_done{
  font-weight: normal;
  text-decoration: line-through;
}

.filter_btn_active{
  background-color: coral;
  color: white;
  border-color: coral;

}